In [6]:
import pandas as pd
import seaborn as sns
import json

from matplotlib import pyplot as plt

## 1. Cargando los datos

In [7]:
dataset = pd.read_csv('..\datos_sin_procesar\cardio_train.csv', sep=';')
dataset

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

## 2. Observando las variables categóricas y las numéricas

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

Se aprecia que todas las variables son numéricas y no tiene registros faltantes

## 3. Limpieza de datos

#### 3.1 Columnas irrelevantes

Se eliminará la columna id, ya que es redundante en el dataset

In [9]:
dataset.drop(columns=['id'], axis=1, inplace=True)
dataset

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,20540,1,170,72.0,120,80,2,1,0,0,1,0

#### 3.2 Columnas repetidas

In [10]:
print("Tamaño del dataset antes de eliminar las filas repetidas: {}".format(dataset.shape))
dataset.drop_duplicates(inplace=True)
print("Tamaño del dataset después de eliminar las filas repetidas: {}".format(dataset.shape))

Tamaño del dataset antes de eliminar las filas repetidas: (70000, 12)
Tamaño del dataset después de eliminar las filas repetidas: (69976, 12)

Se eliminaron 24 registros que se encontraban repetidos

#### 3.3 Se guarda el dataset procesado

In [ ]:
dataset.to_csv('..\datos_procesados\datos_procesados.csv')